@media (min-width: 960px) {
    /* 背景、鼠标指针*/
    body {
        /*background: url('../img/bg.jpg');*/
        cursor: url('../img/cursor.ani'), url('../img/cursor.gif'), auto !important;
    }
}

.navbar .links {
    background-color: initial !important;
    color: #004643;
}

/* 删除线及删除线链接灰色 */
strike, strike > a, s {
    color: gray !important;
}

/* 字体颜色 */
.info {
    color: gray;
}
.danger {
    color: red;
    text-decoration: underline;
}
.warning {
    color: orange;
    text-decoration: underline;
}

h2 {
    border: none !important;
}
p > code, li > code {
    color: #FF7BB0 !important;
    /*background: #4d646b !important;*/
    background: unset !important;
}
.mosaic {
    background:#000;
    color:#000;
}

body::-webkit-scrollbar,
.sidebar::-webkit-scrollbar {
    width: 8px;
    height: 50px;
    background: rgb(204, 204, 255, .3);
}

/* 滚动条设置 */
*::-webkit-scrollbar-corner,
*::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-track {
    border-radius: 4px;
}

/* 滚动条轨道 */
*::-webkit-scrollbar-corner,
*::-webkit-scrollbar-track {
    background-color: rgba(180, 160, 120, 0.1);
    box-shadow: inset 0 0 1px rgba(180, 160, 120, 0.5);
}

/* 滚动条手柄 */
*::-webkit-scrollbar-thumb {
    background-color: pink;
}

pre::-webkit-scrollbar {
    width: 50px;
    height: 8px;
    background: rgb(204, 204, 255, .3);
}
